/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*Koniec resetowania*/

body {
    font-family: 'Raleway', 'Arial', sans-serif;
}
header {
    height: 30px;
    background: black;
    color: white;
    text-transform: uppercase;
}
.container {
    width: 1060px;
    margin: 0 auto;
}

/*NAVIGATION -----------------------------------*/

header .container {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul {
    display: flex;
    justify-content: space-around;
    position: relative;
}
nav ul li {
    margin-left: 30px;
    font-weight: bolder;
    font-size: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul ul {
    position: absolute;
    left: 0;
    top: 40px;
    background: black;
    padding: 11px 17px;
    display: none;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 1;
}

nav ul ul:before {
    content: '▴';
    font-size: 30px;
    color: black;
    position: absolute;
    top: -20px;
    right: 65px;
}

nav ul ul li {
    list-style: none;
    text-transform: none;
    font-weight: lighter;
    line-height: 25px;
    margin-left: 0;

}
header h1 {
    font-weight: lighter;
}

header h1 a{
   color: white;
    text-decoration: none;
}

header h1 span{
    color: #21C0A1;
}

/*SLIDER ----------------------------------------------*/

.slider {
    width: 100%;
    height: 450px;
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f9ff 0%, #ffffff 47%, #c4c4c4 79%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0f9ff 0%,#ffffff 47%,#c4c4c4 79%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0f9ff 0%,#ffffff 47%,#c4c4c4 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#c4c4c4',GradientType=0 );
}

section.slider .container {
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider .container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sliderImg li{
    display: none;
}
.sliderImg .visible {
    display: inline-block;
}

.slider .container article {
    padding-right: 60px;

}
.container article h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
    margin-left: 10px;
}
.container article h2 span {
    font-weight: 700;
    color: #21C0A1;
}
.slider .container article p {
    margin-top: 20px;
    text-align: center;
    padding: 0 20px 0 20px;
    line-height: 25px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.9);
}
.container article a {
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 35px 10px 35px;
    background: #24BA9F;
    color: white;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
}

.container article a:hover {
    background: #20A28C;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.sliderPrev, .sliderNext {
    color: #24BAA0;
    margin: 205px 0;
    font-size: 70px;
}
.sliderPrev:hover,
.sliderNext:hover {
    color: #20A28C;
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}


/*PRODUCTS-----------------------------------------------*/

.products .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.products .container div,
.products .container article {
    width: 310px;
    border: 1px solid #DADADA;
}
.products .container .box1 {
    background-image: url('./../images/box1_img.jpg');
}
.products .container .box2 {
    background-image: url('./../images/box2_img.jpg')
}
.products .container div p {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin-top: 140px;
    position: relative;
    font-weight: bold;
}
.products .container div p:before {
    content: "";
    display: inline-block;
    width: 140px;
    height: 5px;
    background: #24BA9F;
    position: absolute;
    top: 40px;
}

.products .container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
}
.products .container article p {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.9);
}
.products .container article h3 {
    position: relative;
}
.products .container article h3:before {
    content: "";
    display: inline-block;
    width: 150px;
    height: 5px;
    background: #24BA9F;
    position: absolute;
    top: 20px;
}

.products .container div h2 {
    position: relative;
}

/*PRICE LIST-------------------------------------------------*/

.priceList {
     background: #F1F1F1;
     margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 50px;
 }

.plansContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}

.priceList .plans {
    width: 320px;
    height: 400px;
    border: 3px solid #DBDBDB;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   background: white;
}
.plans:before {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #c1c1c1;
    position: absolute;
    top: -40px;
    background: #c1c1c1;
    box-shadow: inset 0 0 0 12px white;
}

.plans:nth-of-type(2):before {
    border: 2px solid #24BA9F;
    background: white;
    box-shadow: inset 0 0 0 12px #24BA9F;
}

.priceList h1 {
    position: relative;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 20px;
    font-weight: lighter;
}
.priceList h1:after {
    content: "";
    display: inline-block;
    width: 250px;
    height: 8px;
    background: #24BA9F;
    position: absolute;
    top: 45px;
    left: 0;
}

.priceList .plans:nth-child(2) {
    border: 3px solid #27C7AB;
    background: #27C7AB;
}
.priceList .plans .price {
    width: 130px;
    height: 130px;
    border: 1px solid #C2C2C2;
    font-size: 40px;
    font-weight: bold;
    color: #C2C2C2;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
.plans:nth-of-type(2) .price {
    background: #F9F9F9;
    border: 1px solid #27C7AB;
    color: #27C7AB;
}

sup {
    vertical-align: super;
    font-size: 12px;
}

.priceList .plans .price p:nth-of-type(2) {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: 9px;
}

.plans h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: #27C7AB;
}
.plans:nth-child(2) h2 {
    color: white;
}

.plans .middleInfo  {
    display: block;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    color: #A6A6A6;
    font-size: 20px;
}

.middleInfo p {
    padding: 10px 20px;
}


.middleInfo p:nth-child(odd) {
    background: #E4E4E4;
}

.middleInfo p:nth-child(even) {
    background: #f1f1f1;
}

.plans:nth-of-type(2) .middleInfo p:nth-child(odd) {
    background: white;
}


.priceBtn {
    background: #27C7AB;
    width: 122px;
    height: 33px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    bottom: 18px;
    font-size: 16px;
    cursor: pointer;
}

.priceBtn a {
    text-decoration: none;
    color: #fff;
}

.plans:nth-of-type(2) .priceBtn{
    background: #fff;
}

.plans:nth-of-type(2) .priceBtn a {
    color: #27C7AB;
}

/*APPLICATION ----------------------------------------------*/

.application {
    background-color: #f9f9f9;
    padding:30px 0;
}
.application h3 {
    color: #575757;
    font-size: 18px;
}

.application header {
    background: #f9f9f9;
}

.application header.align_right{
    text-align: right;
}


.inline {
    display:inline-block;
    width:300px;
    padding:14px;
    vertical-align: top;
}


.form {
    margin-top:50px;
}
.drop_down_list {
    border:1px solid #8de0d2;
    width: 280px;
    height:38px;
    background-color: white;
    margin-top:22px;
    padding: 8px 12px;
    position: relative;
}

.list_label {
    font-size: 30px;
    color: #e2e2e2;
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}
.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 28px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}
.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}


.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;

}
.inline_text {
    display: inline-block;
    width: 228px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    color: #aeaeae;
}
.image_part img{
    margin-top: 110px;
    margin-left: 38px;
}


.application .green_bell {
    background-color: #24baa0;
    width: 200px;
    height: 6px;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.summary_panel {
    background-color: white;
    width:100%;
    height:195px;
    padding:10px;
    margin-top: 50px;

}

.application .green_button {
    background-color: #27c7ab;
    color: white;
    text-align:center;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 30px;
    font-size: 24px;
    display: inline-block;
    font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 29px;
    border-radius: 8px;
    text-decoration: none;
}
.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_right {
    display: inline-block;
    width: 100px;
    border-left:1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_left h4 , .panel_right h4{
    color: #24baa0;
    font-size: 23px;
}

.panel_left span{
    margin-top:10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}

.panel_right span {
    display: block;
    font-size: 22px;
    color: #24baa0;
    margin-top:10px;
}
.sum_label{
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}

.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display:block;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    top: 54px;
    display:none;
}
.list_panel li {
    margin-top:10px;
    cursor: pointer;
    color: #585858;
}

.title {
    height: 30px;
}

.optionSelected {
    display: block;
}





/*CONTACT FORM -------------------------------------------*/

.contactForm {
    background: #FFFFFF;
    margin-top: 30px;
    padding-top: 10px;
}
.formContainer {
    display: flex;
    justify-content: space-between;
}

.contactForm h1 {
    position: relative;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 20px;
    font-weight: lighter;
}

.contactForm h1:after {
    content: "";
    display: inline-block;
    width: 250px;
    height: 8px;
    background: #24BA9F;
    position: absolute;
    top: 45px;
    left: 0;
}

.hiddenLabel {
    display: none;
}

.formLeft {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 40px;
}

.formLeft input, .formLeft textarea {
    height: 50px;
    border: 1px solid #27C7AB;
    margin-bottom: 20px;
    font-size: 33px;
    font-weight: 200;
    padding: 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.formLeft textarea {
    height: 180px;
}
.formLeft input:focus, .formLeft textarea:focus {
    border: 3px solid #27C7AB;
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
}

.formRight {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 40px;
    margin-left: 20px;

}

.formImg {
    background: url(../images/red_chair.png);
    background-position: center;
    height: 190px;
    width: 100%;
    background-repeat: no-repeat;
}

.formCheckbox {
    position: relative;
    margin-top: 40px;
}

.formRight input {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}


.formRight label {
    color: #aaa;
    font-size: 20px;
    display: block;
    padding-left: 65px;
    padding-top: 5px;
    position: relative;
    line-height: 120%;

}

.formRight label:before,
.formRight label:after {
    content: "";
    height: 50px;
    width: 50px;
    display: block;
    border: 1px solid #27c7ab;
    position: absolute;
    top: 0;
    left: 0;


}

.formRight label:after{
    content: "";
    background-image: url(./../images/form_ok.jpg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.formCheckbox input:checked + label:after {
    opacity: 1;

}

.formBtn {
    background: #27C7AB;
    width: 100%;
    height: 70px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.formBtn:hover {
    background: #20A28C;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.formBtn a {
    text-decoration: none;
    color: #fff;
}

/*FOOTER ----------------------------------*/

footer {
    height: 100px;
    margin-top: 50px;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #aaa;
}

.footerLeft {
    display: block;
    width: 65%;

}
.footerRight {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerRight p {
    text-transform: uppercase;
    font-size: 20px;
}

.footerRight p span {
    font-weight: bold;
}

